<a href="https://colab.research.google.com/github/Tmsart7/intro_python_202320/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion a Python
## Curso de programacion y algoritmia UPB 202320
- Nombre : Yeison De Leon y Tomas Arteaga
- ID : 000491649 ,  000495362
- Email : Yeison.de@upb.edu.co , tomas.arteaga@upb.edu.co

Esta es la expresion de la linea recta:
$$y : mx + b$$

donde $x$ es la posicion

In [ ]:
# comentarios

# Mis primeras lineas de codigo
name = 'Tomás'
print("hello," , name)

hello, Tomás

In [ ]:
firstname = 'Tomás'
age = '18'
city = 'monteria'
food = 'pizza'
print("hello, my name is", firstname, 'i have', age, 'years old,','i like the', food, 'and i live in' , city)

hello, my name is Tomás i have 18 years old, i like the pizza and i live in monteria

In [8]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = int(c/b)
print(c)
d = 0.3
c += 0.3
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5
5.3

In [14]:
m = 5
b = 2
x = 2

y = m * x + b
print(y)

12

In [30]:
a = 1
b = 2
c = -8

n = (b ** 2 - 4 * a * c) ** (1/2)
x_n = (-b - n) / 2 * a
x_p = (-b + n) / 2 * a

print(x_n)
print(x_p)

a = -3
b = 1
c = 10

n = (b ** 2 - 4 * a * c) ** (1/2)
x_n = (-b - n) / 2 * a
x_p = (-b + n) / 2 * a

print(x_n)
print(x_p)

a = 0.1
b = -2
c = 0.5

n = (b ** 2 - 4 * a * c) ** (1/2)
x_n = (-b - n) / 2 * a
x_p = (-b + n) / 2 * a

print(x_n)
print(x_p)

-4.0
2.0
18.0
-15.0
0.0025320565519103668
0.19746794344808963

In [33]:
firstname = 'Tomás'
lastname = 'Arteaga'
fullname = firstname + ' ' + lastname
print(fullname)

Tomás Arteaga

In [37]:
a = 4
b = 7
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print((a == b) and (b + 3 > 5))
print((a == b) or (b + 3 > 5))
print(not (a == b))

False
True
False
True
False
True
True